<!DOCTYPE html>
<html lang="en">
{% load static %}
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
		<title>Archive</title>
		<meta name="description" content="This is the archive page">
	</head>
	<body>
		<header>
			<h1>Archive</h1>
			<nav>
				<a href="{% url 'blog:main' %}">Main</a>
				<a href="{% url 'blog:bio' %}">Bio</a>
				<a href="{% url 'blog:tech tips' %}">Tech Tips</a>
				<a href="{% url 'blog:home' %}">Home</a>
				<a href="{% url 'blog:archive' %}">Archive</a>
			</nav>
		</header>
		<main>
			{% if all_blog_list %}
				{% for blog in all_blog_list %}
					<article>
						<h3><a href="{% url 'blog:entry' blog.id %}">{{ blog.title }} - {{ blog.author }}</a></h3>
						<p>{{ blog.content|truncatewords:200 }}</p>
						<p><strong>Posted:</strong> {{ blog.post_date }}</p>
						<p><strong>Number of Comments:</strong> {{ blog.comments_set.count }}</p>
					</article>
				{% endfor %}
			{% else %}
				<p>No blogs are available.</p>
			{% endif %}
		</main>
		<footer>
			<p>Andrew Shaw</p>
			<p>Copyright 2018 Andrew Shaw</p>
			<p>{{ current_time }}</p>
		</footer>
	</body>
</html>